<!DOCTYPE html>
<html>
<head>
    <title>Hello-Spring-Boot-Webservice</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
    <h1>Let's Make a Webservice with Java Spring-Boot 👊👊</h1>
</body>
</html>